@import "partials/colors";
@import "partials/typography";
@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";

/*******************
* COMPONENTS
********************/
.container {
	padding: $p-base;
	margin: auto;

	@include min-query($d-tablet) {
		padding: $p-base $p-base * 3;
		max-width: $d-tablet;
	}

	@include min-query($d-laptop) {
		padding: $p-base $p-base * 5;
		max-width: $d-laptop + 90px;
	}
}
/*
* header section
*/
.header {
	position: relative;
	background: $c-white;
	z-index: 2;

	.container {
		position: relative;
		height: 30px;
	}

	@include min-query($d-laptop) {
		.container {
			height: 60px;
		}
	}
}
/*
* humberger/close icons
*/
.navbar__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.8s;
	@include min-query($d-laptop) {
		display: none;
	}
}
.navbar__menu-hamburger {
	display: block;
}
.navbar__menu-close {
	display: none;
}
.change {
	display: block;
}

.hide {
	opacity: 0;
	@include min-query($d-laptop) {
		opacity: 1;
	}
}
/*
* navbar-section
*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include min-query($d-laptop) {
		margin: 0;
		justify-content: center;
		justify-content: space-between;
	}
	&__list {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		height: 231px;
		border-radius: 5px;
		box-shadow: 0px 4px 4px $c-box-shadow;
		border: 1px solid $c-border;
		background-color: $c-white;
		list-style: none;
		position: absolute;
		padding: 0;
		margin: 1rem auto;
		padding: 1rem 0;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		color: $c-dark-blue;
		font-weight: 500;
		transform: translateY(-160%);
		@include min-query($d-laptop) {
			width: fit-content;
			display: flex;
			flex-direction: row;
			justify-content: center;
			border: none;
			box-shadow: none;
			position: relative;
			height: fit-content;
			margin: 0;
			transform: none;
		}
	}
	&__list-item {
		position: relative;
		padding: 0.83rem;
	}
	&__list-item--link {
		width: 100%;
		text-decoration: none;
		font-size: 0.875rem;
		font-family: $ff-public-sans;
		color: $c-dark-blue;
		font-weight: 500;
		cursor: pointer;
		position: relative;
		padding: 0.5rem;
		top: 0;
		@include min-query($d-laptop) {
			padding: 2rem 0;
		}
	}
	&__list-item--link::after {
		content: "";
		width: 100%;
		height: 2.8px;
		background-color: $c-lime-green;
		position: absolute;
		left: 0;
		transform: scaleX(0);
		transition: transform 0.5s;
	}
}
.navbar__list-item--link::after {
	bottom: 0;
}
.navbar__list-item--link:hover:after {
	transform: scaleX(1);
}
/*
*  navlist,mockup and close icon toggler
*/
.toggle.navbar__list {
	transform: translateY(0%);
	@include min-query($d-laptop) {
		transform: none;
	}
}

.hide.hero__img {
	opacity: 0;
	@include min-query($d-laptop) {
		opacity: 1;
		display: block;
	}
}

/*
* button component
*/
.btn-link {
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.8rem 1.675rem;
	border-radius: 6rem;
	background: linear-gradient(to right, $c-lime-green, $c-bright-cyan);
	text-decoration: none;
	color: $c-white;
	font-family: $ff-public-sans;
	transform: scaleX(1);
	transition: all 0.2s;
	opacity: 1;
	&:hover {
		opacity: 0.6;
		transform: scaleX(1.1);
	}
	@include min-query($d-laptop) {
		display: inline-block;
	}
}
.navbar .btn-link {
	display: none;
	@include min-query($d-laptop) {
		display: block;
	}
}
.hero {
	width: 100%;
	text-align: center;
	background-color: $c-light-grayish-blue;
	position: absolute;
	z-index: -10;
	&__col {
		&--image {
			position: relative;
			z-index: 0;
			&::before {
				content: "";
				height: 100%;
				width: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center 66%;
				background-image: url("../assets/images/bg-intro-mobile.svg");
				z-index: -1;
			}
		}
	}

	&__img-container {
		overflow: hidden;
	}

	&__img {
		width: 100%;
		margin-top: -40%;
	}

	&__title {
		font-size: 2.2rem;
		font-weight: $fw-light;
		color: $c-dark-blue;
	}

	&__desc {
		color: $c-grayish-blue;
		line-height: 1.5;
	}

	@include min-query($d-laptop) {
		display: flex;
		align-items: center;
		text-align: left;
		height: 548px;

		/*
		* Reset container's padding
		*/
		.container {
			padding: 0;
		}

		&__col {
			height: 100%;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&--image {
				order: 2;
				&::before {
					width: 100%;
					background-size: 150%;
					background-position: left 200%;
					background-image: url("../assets/images/bg-intro-desktop.svg");
				}
			}

			&--text .container {
				padding-left: 5rem;
			}
		}

		/*
		* Push phone image upwards
		*/
		&__img-container {
			position: absolute;
			top: -15%;
			left: 0;
			width: 100%;
		}

		/*
		* Push phone image to right
		*/
		&__img {
			width: 100%;
			margin-top: 0;
			transform: translateX(15%);
		}

		&__title {
			font-size: 3.3rem;
		}

		&__desc {
			font-size: 1.1rem;
		}
	}

	@include min-query($d-laptop-l) {
		/*
		* Increase padding to try to match other sections' shorter width
		*/
		&__col {
			&--text .container {
				padding-left: 10rem;
			}
		}
	}
}
/*
// * overlay section
// */
.overlay {
	pointer-events: all;
	&::before {
		content: "";
		z-index: 10;
		opacity: 0.77;
		width: 100%;
		height: 100vh;
		display: block;
		position: absolute;
		background: linear-gradient(to bottom, $c-very-dark-blue, $c-very-light-gray);
	}

	@include min-query($d-laptop) {
		opacity: 1;
		background: linear-gradient(to right top, $c-white, $c-white);
		pointer-events: none;
	}
}

.hide-scroll {
	overflow: hidden;
	height: 50%;
	@include min-query($d-laptop) {
		overflow: auto;
	}
}
