@import "partials/colors";
@import "partials/typography";
@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";

/*******************
* BODY
********************/
body {
	font-family: $ff-public-sans;
}

/*******************
* COMPONENTS
********************/
.container {
	padding: $p-base;
	margin: auto;

	@include min-query($d-tablet) {
		padding: $p-base $p-base * 3;
		max-width: $d-tablet;
	}

	@include min-query($d-laptop) {
		padding: $p-base $p-base * 5;
		max-width: $d-laptop + 90px;
	}
}

/*******************
* HERO SECTION
********************/

.hero {
	text-align: center;
	background-color: $c-light-grayish-blue;
	&__col {
		&--image {
			position: relative;
			z-index: 0;
			&::before {
				content: "";
				height: 100%;
				width: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background-size: 100%;
				background-repeat: no-repeat;
				background-image: url("../assets/images/bg-intro-mobile.svg");
				z-index: -1;
			}
		}
	}

	&__img-container {
		overflow: hidden;
	}

	&__img {
		width: 100%;
		margin-top: -35%;
	}

	&__title {
		font-size: 2.2rem;
		font-weight: $fw-light;
		color: $c-dark-blue;
	}

	&__desc {
		color: $c-grayish-blue;
		line-height: 1.5;
	}

	@include min-query($d-laptop) {
		display: flex;
		align-items: center;
		text-align: left;
		height: 600px;

		/*
		* Reset container's padding
		*/
		.container {
			padding: 0;
		}

		&__col {
			height: 100%;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&--image {
				order: 2;
				&::before {
					width: 100%;
					background-size: 150%;
					background-position: left bottom;
					background-image: url("../assets/images/bg-intro-desktop.svg");
				}
			}

			&--text .container {
				padding-left: 5rem;
			}
		}

		/*
		* Push phone image upwards
		*/
		&__img-container {
			position: absolute;
			top: -15%;
			left: 0;
			width: 100%;
		}

		/*
		* Push phone image to right
		*/
		&__img {
			width: 100%;
			margin-top: 0;
			transform: translateX(15%);
		}

		&__title {
			font-size: 3.3rem;
		}

		&__desc {
			font-size: 1.1rem;
		}
	}

	@include min-query($d-laptop-l) {
		/*
		* Increase padding to try to match other sections' shorter width
		*/
		&__col {
			&--text .container {
				padding-left: 10rem;
			}
		}
	}
}

/*******************
* WHY SECTION
********************/
.why {
	background-color: $c-light-grayish-blue;
	text-align: center;

	.container {
		@include min-query($d-tablet) {
			padding: $p-base * 2 $p-base * 3;
		}

		@include min-query($d-laptop) {
			padding: $p-base * 5 $p-base * 5;
		}
	}

	&__title,
	&-card__title {
		color: $c-dark-blue;
		font-weight: $fw-light;
	}

	&__desc,
	&-card__desc {
		color: $c-grayish-blue;
		line-height: 1.5;
	}

	&__title {
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}

	&__desc {
		max-width: 600px;
		margin: auto;
	}

	&-cards {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&-card {
		list-style: none;
		padding: 2.5rem 0;
		max-width: 400px;
		$animation-duration: 0.5s;

		&__image {
			transform: scale(0);
		}

		/*
		* Staggering scaleUp animation
		*/
		&.anim {
			img {
				animation: scaleUp $animation-duration 1 forwards ease-out;
			}

			&:nth-child(2) img {
				animation-delay: $animation-duration;
			}

			&:nth-child(3) img {
				animation-delay: $animation-duration * 2;
			}

			&:nth-child(4) img {
				animation-delay: $animation-duration * 3;
			}
		}

		&__title {
			text-transform: capitalize;
			font-size: 1.3rem;
			margin-top: 1.5rem;
			margin-bottom: 1rem;
		}
	}

	@include min-query($d-laptop) {
		text-align: left;

		&__title {
			font-size: 2.5rem;
			margin-bottom: 1.6rem;
		}

		&__desc {
			font-size: 1.1rem;
			margin: 0;
		}

		&-cards {
			margin-top: 3rem;
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		&-card {
			padding: 1.5rem 0;

			&:not(:last-child) {
				padding-right: 2.8rem;
			}
			&__title {
				font-size: 1.5rem;
				margin-top: 2.5rem;
				margin-bottom: 1.7rem;
			}
		}
	}
}

@keyframes scaleUp {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	70% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
