@import "partials/colors";
@import "partials/typography";
@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";

/*******************
* BODY
********************/
body {
	font-family: $ff-public-sans;
}

/*******************
* COMPONENTS
********************/
.container {
	padding: $p-base;
	margin: auto;

	@include min-query($d-tablet) {
		padding: $p-base $p-base * 3;
		max-width: $d-tablet;
	}

	@include min-query($d-laptop) {
		padding: $p-base $p-base * 5;
		max-width: $d-laptop + 90px;
	}
}

/*******************
* WHY SECTION
********************/
.why {
	background-color: $c-light-grayish-blue;
	text-align: center;

	.container {
		@include min-query($d-tablet) {
			padding: $p-base * 2 $p-base * 3;
		}

		@include min-query($d-laptop) {
			padding: $p-base * 5 $p-base * 5;
		}
	}

	&__title,
	&-card__title {
		color: $c-dark-blue;
		font-weight: $fw-light;
	}

	&__desc,
	&-card__desc {
		color: $c-grayish-blue;
		line-height: 1.5;
	}

	&__title {
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}

	&__desc {
		max-width: 600px;
		margin: auto;
	}

	&-cards {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&-card {
		list-style: none;
		padding: 2.5rem 0;
		max-width: 400px;
		$animation-duration: 0.5s;

		&__image {
			transform: scale(0);
		}

		/*
		* Staggering scaleUp animation
		*/
		&.anim {
			img {
				animation: scaleUp $animation-duration 1 forwards ease-out;
			}

			&:nth-child(2) img {
				animation-delay: $animation-duration;
			}

			&:nth-child(3) img {
				animation-delay: $animation-duration * 2;
			}

			&:nth-child(4) img {
				animation-delay: $animation-duration * 3;
			}
		}

		&__title {
			text-transform: capitalize;
			font-size: 1.3rem;
			margin-top: 1.5rem;
			margin-bottom: 1rem;
		}
	}

	@include min-query($d-laptop) {
		text-align: left;

		&__title {
			font-size: 2.5rem;
			margin-bottom: 1.6rem;
		}

		&__desc {
			font-size: 1.1rem;
			margin: 0;
		}

		&-cards {
			margin-top: 3rem;
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		&-card {
			padding: 1.5rem 0;

			&:not(:last-child) {
				padding-right: 2.8rem;
			}
			&__title {
				font-size: 1.5rem;
				margin-top: 2.5rem;
				margin-bottom: 1.7rem;
			}
		}
	}
}

@keyframes scaleUp {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	70% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/**********************
article section
***********************/
body {
	background-color: $c-very-light-gray;
}
html{
	scroll-behavior: smooth;
}
.article-container {
	width: 90%;
	margin: auto;
	h2 {
		margin: 2rem 1rem;
		font-weight: $fw-bold;
		font-size: 3rem;
	}
	&__article {
		width:100% ;
		user-select: none;
		max-height: 500px;
		&__article1,
		&__article2,
		&__article3,
		&__article4 {
			margin: 1rem;
			float: left;
			cursor: pointer;
			overflow: hidden;
			width: calc(90%/4);
			max-height: 450px;
			min-width: 300px;
			background-color: $c-white;
			border-radius: 8px;
			&:hover{
				border: 5px solid transparent;
			}
				.img {
				img {
					width: 100%;
					height: 15rem;
					border-radius: 8px 8px 0 0;
				}
			}
			h3 {
				font-weight: $fw-regular;
			}
			.auth {
				font-size: 0.9rem;
			}
			p {
				background-color: $c-white;
				padding: 0 1rem;
				color: $c-grayish-blue;
			}
			h3 {
				background-color: $c-white;
				padding: 0 1rem;
				margin: 0;
				&:hover {
					color: $c-lime-green;
					cursor: pointer;
				}
			}
		}
	}
}
/**********
footer
***********/
.footer-container {
	clear: both;
	position: relative;
	top: 2rem;
}
.footer {
	height: 250px;
	margin: 0;
	padding: 2rem;
	background: $c-dark-blue;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.about > li:hover,
	.careers > li:hover {
		color: $c-lime-green;
		cursor: pointer;
	}
	.horizentally > li:hover {
		cursor: pointer;
	}
	ul {
		list-style-type: none;
	}
	.horizentally {
		display: flex;
		flex-direction: row;
		li img {
			margin: 0 0.5rem;
		}
		.logo {
			position: relative;
			right: 2rem;
			left: 5rem !important;
		}
		img:first-child {
			position: relative;
			right: 3rem;
		}
	}
	li {
		color: $c-white;
		margin: 1.5rem 0;
		font-size: 1.2rem;
	}
	.last-child {
		width: 40%;
		display: flex;
		flex-direction: column;

		padding-left: 20%;
		.right-reserved {
			font-size: 1rem;
			color: $c-grayish-blue;
		}
		li button {
			padding: 0.8rem 1.8rem;
			border-radius: 22px;
			border: none;
			color: $c-white;
			background-image: linear-gradient(to right, $c-lime-green, rgb(72, 191, 228));
			&:hover {
				background-image: linear-gradient(to right, $c-lime-green, rgb(152, 236, 197));
				cursor: pointer;
			}
		}
	}
}
@media only screen and (max-width: 1200px) {
	.article-container{
		&__article{
			&__article1,
			&__article2,
			&__article3,
			&__article4 {
				width: (90%/2);
			}
		}
	}
	
}

@media only screen and (max-width: $d-tablet) {
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.about {
		padding: 0;
		margin: auto;
	}
	ul {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto !important;
		padding: 0;
	}

	li {
		margin: 0.5rem !important;
	}
	.logo {
		position: relative;
		right: 1rem;
	}
	.last-child {
		width: 100%;
		padding: 0 !important;
		button {
			padding: 0.8rem 1.9rem !important;
		}
	}
	.horizentally {
		position: relative;
		left: 3rem;
	}
.article-container{
	&__article{
		&__article1,
		&__article2,
		&__article3,
		&__article4 {
			width: 90%;
		}
	}
}
	
}
